
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}



.v-application .v-list-item {
    width: 300px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: rgb(var(--v-theme-ternary)) !important;
    margin-top: 2%;
    border: 5px solid rgb(var(--v-theme-ternary)) !important;
    border-radius: 10px !important;
    overflow: hidden; /* Vital para que el fondo no se salga de las esquinas */
    
}

#app .event-list .v-list-item.item-open {
  background-color: rgb(var(--v-theme-secondary)) !important;
  border-color: rgb(var(--v-theme-secondary)) !important;
  color: white !important;
  
}



#app .event-list .v-list-item.item-closed {
  background-color: rgb(var(--v-theme-error)) !important;
  border-color: rgb(var(--v-theme-error)) !important;
  color: white !important;
}

/* Si quieres que el texto se lea bien (blanco o negro según fondo) */
#app .event-list .v-list-item {
    color: rgb(var(--v-theme-primary)) !important; 
}

.event-dialog-open {
  border-color: rgb(var(--v-theme-secondary)) !important;
  background-color: rgb(var(--v-theme-primary)) !important;
  color: black !important
}

.event-dialog-closed {
  border-color: rgb(var(--v-theme-error)) !important;
  background-color: rgb(var(--v-theme-primary)) !important;
    color: black !important

}

.empty-border {
  border-color: white !important;

}

.event-dialog-open .v-card-title {
  background-color: rgb(var(--v-theme-secondary));
}
.event-dialog-closed .v-card-title {
  background-color: rgb(var(--v-theme-error));
}
.confirm-delete-dialog {
  border-color: rgb(var(--v-theme-error)) !important;
}
@media (max-width: 600px) {
      .v-application .v-list-item {
        width: 150px !important; /* Se encoge en pantallas grandes */
        margin-top: 2% !important;
      }
}